@charset "utf-8";
@charset "utf-8";
body{
    
    text-align: center;
    background-image :linear-gradient(to left, #dddddd, #7ca2eb);

}
div#nav{

    text-align: center;
    height: auto;
    width: 500px;
    background-color: rgb(230, 230, 230);
    position: relative;
    right: auto;
    left: 430px;
    top: 250px; 
    margin-top: 0px;
    padding: 15px;
    border-top: 0px;
    border-left:0px ;
    border-right:0px ;
    border-bottom: 0px ;
    border-radius:20px ;


} 
.link{

    font-family:Montserrat,sans-serif;
    transition: inherit;
    background:#267bd6;
    margin:auto;
    left: 0px;
    width: 50%;
    padding: 8px 5px;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #1961AE;
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
 
  .link a {
	font-family:Montserrat,sans-serif;
  color: inherit;
  text-decoration:none;
  transition: inherit;
  width: 50%;
  font-size:20px;
  padding: 6px;
  color: #fff;
  margin-left: 10px;

}